<!DOCTYPE html>
{% include james_head.html %}
<html lang="en">
{% include head.html %}
<body>
<div class="banner-article"><!--full width slider-->
    <div class="slider-article"><!--help with position-->
        <div class="init-slider"><!--class for init-->
            <div><!--init slide-->
                <div class="slide"><!--contain all info-->
                    <img src="/img/cover_image/1.jpg" alt="Background cover image">

                    <div class="img-about"><!--slide information-->
                        <span class="head">Vikings <!-- todo --></span><!--category-->
                        <span class="main-slogan">{{ site.title }}</span><!--title-->
                        {% if site.description %}
                        <span class="sub-slogan">{{ site.description }}</span><!--sub-title-->
                        {% endif %}
                    </div><!--end img-about-->
                </div><!--end slide-->
            </div><!--end init slide-->
        </div><!--init-slider-->
    </div><!--cover_image-->
</div><!--banner-article-->

<!--article-->
<section class="article-page"><!--overlay for one large article,containe new styles-->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                <!--this column contain info about author-->
                {% if page.authors %}

                {% for author in page.authors %}

                <div class="author-overlay"><!--hold on author information-->
                    <span class="author">author</span><!--title-->
                    <img src="/img/face.jpg" alt="{{ author.given-names }} {{ author.surname }}"><!--avatar-->
                    <span class="name">
                        {% if author.orcid %}<a href="{{author.orcid}}">{{ author.given-names }} {{ author.surname }}</a>
                        {% else %}<a href="mailto:{{ author.email }}">{{ author.given-names }} {{ author.surname }}</a>
                        {% endif %}
                    </span><!--name author-->
                </div><!--end author overlay-->

                {% endfor %}
                {% elsif page.author %}

                <div class="author-overlay"><!--hold on author information-->
                    <span class="author">author</span><!--title-->
                    <img src="/img/face.jpg" alt="{{ author.given-names }} {{ author.surname }}"><!--avatar-->
                    <span class="name">
                       {{page.author}}
                    </span><!--name author-->
                </div><!--end author overlay-->

                {% endif %}

            </div><!--end col-->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 remove-padding">
                <div class="content-article"><!--contain post content-->
                    <div class="post-top"><!--contain social links and data-->
                        {% if page.date %}
                        <div class="date"><!-- date-->
                            <span class="ico-celendar"></span><!--ico calendar-->
                            <span>
                                {{ page.date | date_to_long_string }}
                            </span><!--date-->
                        </div><!--end date-->
                        {% endif %}
                    </div><!--end post top-->
                    <h2>{{ page.title }}</h2>
                    <div class="text-part large-letter"><!--overlay for right border-->
                        {{ content }}
                    </div><!--text-part-->
                </div><!--content-article-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--container-->
</section><!--article-page-->

<!--footer-->
{% include footer.html %}
<!--end foooter-->

{% if page.map %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/map/jquery-jvectormap-2.0.3.min.js"></script>
<script type="text/javascript" src="/map/jquery-jvectormap-ch-mill.js"></script>
<script>$('#map').vectorMap({
    map: 'ch_mill',
    hoverOpacity: 0.7,
    hoverColor: false,
    markerStyle: {
        initial: {
            fill: '#F8E23B',
            stroke: '#383f47'
        }
    },
    regionStyle: {
        initial: {
            fill: "#f2e8b6"
        },
        hover: {
            fill: '#e8b84d'
        }
    },
    backgroundColor: 'rgba(252, 251, 248, 0.75)',
    markers: [
        {latLng: [47.14, 9.52], name: 'Liechtenstein'},
        {latLng: [47.14, 9.52], name: 'Liechtenstein'}
    ]
});
</script>

{% endif %}

{% include analytics.html %}

</body>

</html>