<!DOCTYPE html>
{% include james_head.html %}
<html lang="en">
{% include head.html %}
<body>
<!--header-->
<header role="header" id="header">

</header><!--end header-->

<!--banner-->
<section class="blog-banner"><!--top banner-->
    <a href="#" class="logo"></a><!--site logo-->
    <h1>{{ site.title }}</h1><!--title-->
    <h2>{{ site.description }}</h2><!--sub title-->
    <div class="figure"></div><!--bottom banner figure-->
</section><!--end blog-banner-->

<!--page-nav-->
<section class="page-nav"><!--containe nav,search,data-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="navigation"><!--overlay for position-->
                    <div class="date"><!--info data-->
                        <span>today</span><!--title-->
                        <span class="time">June 12, 2015</span><!--data-->
                    </div><!--end date-->
                    <a href="#" class="mobile-display">Categories</a><!--button for look nav on sm,xs devices-->
                    <ul class="list"><!--nav-->
                        <li class="active"><!--change weave of link-->
                            <a href="#">all</a>
                        </li>
                        <li>
                            <a href="#">travel</a>
                        </li>
                        <li>
                            <a href="#">sights</a>
                        </li>
                        <li>
                            <a href="#">leisure</a>
                        </li>
                        <li>
                            <a href="#">caravanning</a>
                        </li>
                        <li>
                            <a href="#">transport</a>
                        </li>
                        <li>
                            <a href="#">archive</a>
                        </li>
                    </ul>
                    <div class="search small-weave"><!--overlay,will change on click-->
                        <div class="search-holder"><!--overlay,will change on click-->
                            <span class="ico-search"></span><!--ico search-->
                            <input type="text" placeholder="Search">
                        </div><!--end search ho;der-->
                    </div><!--end small-weave-->
                </div><!--end navigation-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--page-nav-->

<!--list-blogs-->
<section class="blog-page">
    <div class="container">
        <div class="blogs">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                        <div class="image-holder"><!--info about image-->
                            <img src="img/blog1.jpg" alt=""><!--image-->
                            <div class="date"><!--data overlay-->
                                <span class="ico-celendar"></span><!--ico-->
                                <span>12.03.2015</span><!--data-->
                            </div><!--end data-->
                        </div><!--holder-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">transport</span><!--category-->
                            <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><!--text-->
                        </div><!--end content-blog-->
                    </div><!--end one blog-->
                    <div class="one-blog weav-2"><!--overlay class for different weav of one blog-->
                        <div class="date"><!--data overlay-->
                            <span class="ico-celendar"></span><!--ico-->
                            <span>12.03.2015</span><!--data-->
                        </div><!--end data-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">Leisure</span><!--category-->
                            <a href="#">The capital of the northern lights</a><!--title-->
                            <p>Curabitur ullamcorper ultriciesnisi. Nam eget dui. Etiam rhoncus.Maecenas tempus, tellus egetcondimentum rhoncus, sem quamsemper libero, sit amet adipiscingsem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar,hendrerit id, lorem.</p><!--text-->
                        </div><!--content-blog-->
                    </div><!--end one blog-->
                    <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                        <div class="image-holder"><!--info about image-->
                            <img src="img/blog1.jpg" alt=""><!--image-->
                            <div class="date"><!--data overlay-->
                                <span class="ico-celendar"></span><!--ico-->
                                <span>12.03.2015</span><!--data-->
                            </div><!--end data-->
                        </div><!--holder-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">transport</span><!--category-->
                            <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><!--text-->
                        </div><!--end content-blog-->
                    </div><!--end one blog-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="one-blog weav-2"><!--overlay class for different weav of one blog-->
                        <div class="date"><!--data overlay-->
                            <span class="ico-celendar"></span><!--ico-->
                            <span>12.03.2015</span><!--data-->
                        </div><!--end data-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">Leisure</span><!--category-->
                            <a href="#">Is interested in opera? And traveling to the town of Veliko operas?</a><!--title-->
                            <p>Curabitur ullamcorper ultriciesnisi. Nam eget dui. Etiam rhoncus.Maecenas tempus, tellus egetcondimentum rhoncus, sem quamsemper libero, sit amet adipiscingsem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar,hendrerit id, lorem.</p><!--text-->
                        </div><!--content-blog-->
                    </div><!--end one blog-->
                    <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                        <div class="image-holder"><!--info about image-->
                            <img src="img/blog2.jpg" alt=""><!--image-->
                            <div class="date"><!--data overlay-->
                                <span class="ico-celendar"></span><!--ico-->
                                <span>12.03.2015</span><!--data-->
                            </div><!--end data-->
                        </div><!--holder-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">transport</span><!--category-->
                            <a href="#">Nullam dictum felis eu pede mollis pretium</a><!--title-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iure recusandae magni in, cupiditate rerum, accusantium eum natus itaque incidunt consectetur illum voluptate eaque sequi ipsa minus velit, quia aliquam!</p><!--text-->
                        </div><!--end content-blog-->
                    </div><!--end one blog-->
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="one-blog weav-3"><!--overlay class for different weav of one blog-->
                            <div class="image-holder"><!--info about image-->
                                <img src="img/blog3.jpg" alt=""><!--image-->
                                <div class="date"><!--data overlay-->
                                    <span class="ico-celendar"></span><!--ico-->
                                    <span>12.03.2015</span><!--data-->
                                </div><!--end data-->
                            </div><!--holder-->
                            <div class="content-blog"><!--text of blog-->
                                <span class="category">transport</span><!--category-->
                                <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                            </div><!--content-blog-->
                        </div><!--end one-->
                    </div><!--end col-->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                            <div class="image-holder"><!--info about image-->
                                <img src="img/blog4.jpg" alt=""><!--image-->
                                <div class="date"><!--data overlay-->
                                    <span class="ico-celendar"></span><!--ico-->
                                    <span>12.03.2015</span><!--data-->
                                </div><!--end data-->
                            </div><!--holder-->
                            <div class="content-blog"><!--text of blog-->
                                <span class="category">travel</span><!--category-->
                                <a href="#">Nullam dictum felis eu pede mollis pretium</a><!--title-->
                            </div><!--end content-blog-->
                        </div><!--end one blog-->
                    </div><!--end col-->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                            <div class="image-holder"><!--info about image-->
                                <img src="img/blog5.jpg" alt=""><!--image-->
                                <div class="date"><!--data overlay-->
                                    <span class="ico-celendar"></span><!--ico-->
                                    <span>12.03.2015</span><!--data-->
                                </div><!--end data-->
                            </div><!--holder-->
                            <div class="content-blog"><!--text of blog-->
                                <span class="category">transport</span><!--category-->
                                <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><!--text-->
                            </div><!--end content-blog-->
                        </div><!--end one blog-->
                    </div><!--end col-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end blogs-->
        <div class="slider-blog">
            <div class="init-slider">
                <div>
                    <div class="slide">
                        <div class="vector-mask"></div>
                        <img src="img/slide-b.jpg" alt="">
                        <div class="date">
                            <span class="ico-celendar"></span>
                            <span>12.12.2015</span>
                        </div>
                        <div class="slide-caption">
                            <span class="category">caravanning</span>
                            <span class="name">Sociis natoque penatibus et magnis</span>
                            <p class="large-letter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, repellendus natus cumque maiores error dolorem ex cupiditate quos esse doloremque iusto, fugit nam. Obcaecati, magni odit nihil optio suscipit consequuntur.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="vector-mask"></div>
                        <img src="img/slide-b.jpg" alt="">
                        <div class="date">
                            <span class="ico-celendar"></span>
                            <span>12.12.2015</span>
                        </div>
                        <div class="slide-caption">
                            <span class="category">caravanning</span>
                            <span class="name">Loerm ipsum lorem</span>
                            <p class="large-letter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, repellendus natus cumque maiores error dolorem ex cupiditate quos esse doloremque iusto, fugit nam. Obcaecati, magni odit nihil optio suscipit consequuntur.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="vector-mask"></div>
                        <img src="img/slide-b.jpg" alt="">
                        <div class="date">
                            <span class="ico-celendar"></span>
                            <span>12.12.2015</span>
                        </div>
                        <div class="slide-caption">
                            <span class="category">caravanning</span>
                            <span class="name">consectetur adipisicing elit. Odio totam quam</span>
                            <p class="large-letter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, repellendus natus cumque maiores error dolorem ex cupiditate quos esse doloremque iusto, fugit nam. Obcaecati, magni odit nihil optio suscipit consequuntur.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slide">
                        <div class="vector-mask"></div>
                        <img src="img/slide-b.jpg" alt="">
                        <div class="date">
                            <span class="ico-celendar"></span>
                            <span>12.12.2015</span>
                        </div>
                        <div class="slide-caption">
                            <span class="category">caravanning</span>
                            <span class="name">Sociis natoque penatibus et magnis</span>
                            <p class="large-letter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, repellendus natus cumque maiores error dolorem ex cupiditate quos esse doloremque iusto, fugit nam. Obcaecati, magni odit nihil optio suscipit consequuntur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--slider-blog-->
        <div class="blogs">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                        <div class="image-holder"><!--info about image-->
                            <img src="img/blog8.jpg" alt=""><!--image-->
                            <div class="date"><!--data overlay-->
                                <span class="ico-celendar"></span><!--ico-->
                                <span>12.03.2015</span><!--data-->
                            </div><!--end data-->
                        </div><!--holder-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">transport</span><!--category-->
                            <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><!--text-->
                        </div><!--end content-blog-->
                    </div><!--end one blog-->
                    <div class="one-blog weav-2"><!--overlay class for different weav of one blog-->
                        <div class="date"><!--data overlay-->
                            <span class="ico-celendar"></span><!--ico-->
                            <span>12.03.2015</span><!--data-->
                        </div><!--end data-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">Leisure</span><!--category-->
                            <a href="#">The capital of the northern lights</a><!--title-->
                            <p>Curabitur ullamcorper ultriciesnisi. Nam eget dui. Etiam rhoncus.Maecenas tempus, tellus egetcondimentum rhoncus, sem quamsemper libero, sit amet adipiscingsem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar,hendrerit id, lorem.</p><!--text-->
                        </div><!--content-blog-->
                    </div><!--end one blog-->
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="one-blog weav-3"><!--overlay class for different weav of one blog-->
                            <div class="image-holder"><!--info about image-->
                                <img src="img/blog7.jpg" alt=""><!--image-->
                                <div class="date"><!--data overlay-->
                                    <span class="ico-celendar"></span><!--ico-->
                                    <span>12.03.2015</span><!--data-->
                                </div><!--end data-->
                            </div><!--holder-->
                            <div class="content-blog"><!--text of blog-->
                                <span class="category">travel</span><!--category-->
                                <a href="#">Donec pede justo, fringilla vel, aliquet nec, vulputate eget</a><!--title-->
                            </div><!--content-blog-->
                        </div><!--end one-->
                    </div><!--end col-->
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="one-blog weav-1"><!--overlay class for different weav of one blog-->
                        <div class="image-holder"><!--info about image-->
                            <img src="img/blog6.jpg" alt=""><!--image-->
                            <div class="date"><!--data overlay-->
                                <span class="ico-celendar"></span><!--ico-->
                                <span>12.03.2015</span><!--data-->
                            </div><!--end data-->
                        </div><!--holder-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">transport</span><!--category-->
                            <a href="#">How to get from Oslo to Copenhagen</a><!--title-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><!--text-->
                        </div><!--end content-blog-->
                    </div><!--end one blog-->
                    <div class="one-blog weav-2"><!--overlay class for different weav of one blog-->
                        <div class="date"><!--data overlay-->
                            <span class="ico-celendar"></span><!--ico-->
                            <span>12.03.2015</span><!--data-->
                        </div><!--end data-->
                        <div class="content-blog"><!--text of blog-->
                            <span class="category">Leisure</span><!--category-->
                            <a href="#">The capital of the northern lights</a><!--title-->
                            <p>Curabitur ullamcorper ultriciesnisi. Nam eget dui. Etiam rhoncus.Maecenas tempus, tellus egetcondimentum rhoncus, sem quamsemper libero, sit amet adipiscingsem neque sed ipsum. Nam quamnunc, blandit vel, luctus pulvinar,hendrerit id, lorem.</p><!--text-->
                        </div><!--content-blog-->
                    </div><!--end one blog-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end blogs-->
    </div><!--end container-->
</section><!--blog-page-->

<!--archive-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="holder"><!--overlay for position-->
                    <div class="name">archive</div><!--title-->
                    <div class="items"><!--archive list-->
                        <div class="item"><!--one element of items-->
                            <div class="date"><!--data-->
                                <span class="ico-celendar"></span><span>12.12.2015</span>
                            </div><!--end data-->
                            <p>Nam quam nunc, blandit vel,luctus pulvinar, hendrerit id,lorem</p><!--text-->
                        </div><!--end item-->
                        <div class="item"><!--one element of items-->
                            <div class="date"><!--data-->
                                <span class="ico-celendar"></span><span>12.12.2015</span>
                            </div><!--end data-->
                            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien</p><!--text-->
                        </div><!--end item-->
                        <div class="item"><!--one element of items-->
                            <div class="date"><!--data-->
                                <span class="ico-celendar"></span><span>12.12.2015</span>
                            </div><!--end data-->
                            <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p><!--text-->
                        </div><!--end item-->
                        <div class="item"><!--one element of items-->
                            <div class="date"><!--data-->
                                <span class="ico-celendar"></span><span>12.12.2015</span>
                            </div><!--end data-->
                            <p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc</p><!--text-->
                        </div><!--end item-->
                    </div><!--items-->
                </div><!--holder-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end archive-->

<!--pagination-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="pagination"><!--nav for blogs-->
                    <ul><!--links list-->
                        <li class="prev"><!--class for previous link-->
                            <a href="#">previous</a>
                        </li>
                        <li class="active">
                            <a href="#">01</a>
                        </li>
                        <li>
                            <a href="#">02</a>
                        </li>
                        <li>
                            <a href="#">03</a>
                        </li>
                        <li>
                            <a href="#">04</a>
                        </li>
                        <li>
                            <a href="#">05</a>
                        </li>
                        <li>
                            <a href="#">06</a>
                        </li>
                        <li class="next"><!--class for next link-->
                            <a href="#">next</a>
                        </li>
                    </ul>
                </div><!--end pagination-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end pagination-->

<!--footer-->
{% include footer.html %}
<!--end foooter-->

<!--script-->

</body>

</html>